/* * { */
/*   font-family: "JetBrainsMono Nerd Font", monospace; */
/*   font-size: 13px; */
/* } */

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#bluetooth, #clock, #pulseaudio, #network {
  padding: 0 10px;
}

#bluetooth.connected {
  color: #89b4fa;
}


/* Workspaces */

#workspaces {
    background-color: rgba(30, 30, 46, 0.7);
    border-radius: 10px;
    padding: 1px 3px;
    margin: 1px 2px;
}

#workspaces button {
    color: #a6adc8;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 10px;
    margin: 1px 2px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

#workspaces button.focused {
    color: #11111b;
    background-color: #89b4fa;
    font-size: 12px;
    font-weight: 900;
    border-bottom: 2px solid #ffffff;
}

/* #workspaces button:hover { */
/*     background-color: rgba(255, 255, 255, 0.15); */
/*     color: #ffffff; */
/* } */

